<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Forms.Presenter" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Plugin.Messenger" version="4.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Nethereum.Portable" version="1.0.0-rc1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Portable.BouncyCastle" version="1.8.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="portable45-net45+win8+wpa81" />
</packages>